{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Login{% endblock title %}

{% block content %}
  <div class="container main-header">
    <form class="form-signin" role="form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="text" class="form-control" name="username"
             placeholder="username" required autofocus>
      <input type="password" name="password" class="form-control"
             placeholder="password" required>
      {% comment %}
      {# TODO - implement "Remember me" functionality #}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember-me" value="remember-me"> Remember me
        </label>
      </div>
      {% endcomment %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div><!-- /.container -->
{% endblock content %}
