    <table class="table table-bordered table-striped web-only">
      <thead>
        <tr>
          <th class="special-th weeks_filter">Services {{ min_date|date:"b j, Y" }} - {{ max_date|date:"b j, Y" }}</th>
          {% for heading in service_labels %}
            <th>{{ heading }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for service, service_data in feedback_by_service %}
        <tr id="service{{ service.id }}">
            <td id="service_name">{{ service.name }}</td>
            {% for label, result, total_respondents in service_data %}
              {% if result == None %}
                <td class="{{ label }}">N/A (0)</td>
              {% else %}
                <td class="{{ label }}">{{ result }} ({{ total_respondents }})</td>
              {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
