{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}{{ object.name }} Facility Report{% endblock title %}

{% block extra-js %}
<script src="{% static 'lib/chartnew/ChartNew.js' %}"></script>
<script>
  var labels = ['Open\nFacility', 'Respectful\nStaff\nTreatment',
                'Clean\nHospital\nMaterials', 'Charged\nFairly'],
      fillColor = ['#6D6E71', '#808184', '#929497', '#A6A8AB'],
      barOptions = {
        barShowStroke: false,
        scaleFontSize: 9,
        scaleFontFamily: "'Source Sans Pro', sans-serif",
        barValueSpacing: 8,
        inGraphDataShow: true,
        inGraphDataYPosition: 2,
        inGraphDataFontColor: 'black',
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 5,
        scaleStepWidth: 20,
        yAxisLabel: "Percentage",
        yAxisFontSize: 12
      };

  var createChart = function(id, data) {
    var chart = $(id)[0].getContext('2d');
    var barData = {
      labels: labels,
      datasets : [{fillColor: fillColor, data: data}]
    };
    return new Chart(chart).Bar(barData, barOptions);
  }
  $(function() {
    {% for week in feedback_by_week %}
      createChart("#weekChart{{ forloop.counter }}", [
        {% for percentage, count in week.data %}
          {{ percentage|default:0 }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      ]);
    {% endfor %}
  });
</script>
{% endblock extra-js %}

{% block content %}
  <div class="container main-header">
    <div class="col-xs-6 no-padding-left">
      <h1>
        <span style="font-weight: 700;">{{ object.name }}</span><br />
        Facility Report
      </h1>

      <div class="lead">The following document was generated through the ICT4SA
      program, intended to provide trial period reporting to selected
      {{ object.lga }} Clinic Staff. The following data was collected through
      SMS surveys of patients at {{ object.name }}.</div>
    </div>

    <div class="col-xs-6 participation-module no-padding-right">
      <div class="date">{{ min_date.date|date:"F j, Y" }} - {{ max_date.date|date:"F j, Y" }}</div>
        <div class="content">
          <h2>SURVEY PARTICIPATION</h2>
          {% if num_registered %}
            <div class="col-xs-4">
              <h1>{{ num_registered }}</h1> Sent
            </div>
            <div class="col-xs-4">
              <h1>{{ num_started }} <span class="report-percent">({{ percent_started|floatformat:"0" }}%)</span></h1> Started
            </div>
            <div class="col-xs-4">
              <h1>{{ num_completed }} <span class="report-percent">({{ percent_completed|floatformat:"0" }}%)</span></h1> Completed 
            </div>
          {% else %}
            <div class="col-xs-12">
              <h1>0</h1> Patients registered for survey
            </div>
          {% endif %}
          {% comment %}
          {# TODO #}
          <div class="col-xs-4">
            <h1>{{ participation_rank }}</h1> Participation ranking among facilities
          </div>
          {% endcomment %}
        </div>
    </div>
  </div><!-- /.container -->

{% if not responses %}
  <div class="container">
    <p>We do not yet have any responses from patients for {{ clinic.name }}.
    Please try again later!</p>
  </div>
{% else %}
  <div id="feedback-analytics" class="container print-break">
    <div class="col-xs-12 section-heading">
      <h2>FEEDBACK ANALYTICS</h2>
    </div>

    {% for week in feedback_by_week %}
      <div class="col-xs-6 chart-container">
        <div class="col-xs-12"><h2>{{ week.week_start.date|date:"F j" }} - {{ week.week_end.date|date:"F j" }}</h2></div>
        <div class="col-xs-6">
          <div class="green-box">
            {% if week.patient_satisfaction == None %}
              N/A
            {% else %}
              {{ week.patient_satisfaction }}%
            {% endif %}
          </div>
          <div class="green-box-label">Patient<br />satisfaction</div>
        </div>
        <div class="col-xs-6">
          <div class="green-box">
            {% if week.wait_time_mode == None %}
              N/A
            {% else %}
              {{ week.wait_time_mode }}
            {% endif %}
          </div>
          <div class="green-box-label">Most common<br />wait time</div>
        </div>
        <canvas id="weekChart{{ forloop.counter }}" height="250" width="275"></canvas>
      </div>
    {% endfor %}
  </div><!-- / .container#feedback-analytics -->
  <div class="print-only"><br/><br/><br/><br/><br/><br/></div>

  <div id="feedback-on-services" class="container">
    <div class="col-xs-12 section-heading">
      <h2>FEEDBACK ON SERVICES</h2>
    </div>

    <p>Number of patients with this service who reported this feedback.</p>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="special-th">{{ min_date|date:"F j, Y" }} - {{ max_date|date:"F j, Y" }}</th>
          <th>Open Facility</th>
          <th>Respectful<br />Staff Treatment</th>
          <th>Clean<br />Hospital Materials</th>
          <th>Charged Fairly</th>
          <th>Most Common<br />Wait Time (hrs)</th>
        </tr>
      </thead>
      <tbody>
        {% for service, service_data in feedback_by_service %}
          <tr>
            <td>{{ service.name }}</td>
            {% for result, total_respondents in service_data %}
              {% if result == None %}
                <td>N/A (0)</td>
              {% else %}
                <td>{{ result }} ({{ total_respondents }})</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- / .container#feedback-on-services -->

  {% if detailed_comments %}
  <div id="detailed-comments" class="container">
    <div class="col-xs-12 section-heading">
      <h2>DETAILED COMMENTS</h2>
    </div>

    <table id="comments-table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="special-th no-bottom-border">Date</th>
          <th class="no-bottom-border">Comments</th>
        </tr>
      </thead>
      <tbody>
        {% regroup detailed_comments by question as comments %}
        {% for comment_group in comments %}
          <tr>
            <td colspan="6" class="special-table-row">
              {{ comment_group.grouper|upper }}
            </td>
          </tr>
          {% for comment in comment_group.list %}
            <tr>
              <td>{{ comment.datetime|date:"d/m/Y" }}</td>
              <td>{{ comment.response }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div><!-- / .container#detailed-comments -->
  {% endif %}
{% endif %}
{% endblock content %}
