{% load static from staticfiles %}

    <div class="col-xs-12 section-heading web-only">
        <h2>PATIENT FEEDBACK RESPONSES</h2>
    </div>
    <p>Summary of patient feedback responses compared to LGA-wide averages.</p>
    <div id="patient-feedback-container">
    <table class="feedback table" id="feedback_responses">
      <thead>
        <tr>
            <th scope="col" colspan="3">Patients from {{ clinic.name }} said:</th>
            <th scope="col" colspan="3">Patients from other facilities said:</th>
        </tr>
      </thead>
      <tbody>
        {% for question, clinic_stat, other_stat, margin in response_stats %}
         <tr>
             <th scope="row" style="width: 17%;">
                {{ clinic_stat.0 }} <span class="percentage">({{ clinic_stat.1|default_if_none:0|floatformat:0 }}%)</span>
             </th>
             <td>{{ question.report_label }}</td>
             <td style="width: 20px;">
              {% if clinic_stat.1 < 60 %}
                <span class="glyphicon glyphicon-warning-sign" title="Problem area; requires attention"></span>
              {% endif %}
             </td>
             <th scope="row" style="width: 17%;">
                {{ other_stat.0 }} <span class="percentage">({{ other_stat.1|default_if_none:0|floatformat:0 }}%)</span>
             </th>
             <td>{{ question.report_label }}</td>
             <td style="width: 20px;">
              {% if margin >= 5 %}
                <span class="glyphicon glyphicon-ok" title="Better than average"></span>
              {% elif margin <= -5 %}
                <span class="glyphicon glyphicon-remove" title="Worse than average"></span>
              {% endif %}
             </td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <h6>KEY</h6>
    <table class="legend table">
      <tbody>
        <tr>
          <td><span class="glyphicon glyphicon-warning-sign"></span></td>
          <td class="description">Problem area; requires attention</td>
          <td><span class="glyphicon glyphicon-remove"></span></td>
          <td class="description">{{ clinic.name }} performed worse than the LGA average</td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
          <td class="description">{{ clinic.name }} performed better than the LGA average</td>
        </tr>
      </tbody>
    </table>
    </div>
    