{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}{{ object.name }} Facility Report{% endblock title %}

{% block extra-js %}
<script src="{% static 'lib/chartnew/ChartNew.js' %}"></script>
<script>
  var barOptions = {
        //barShowStroke: true,
        // scale
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 5,
        scaleStepWidth: 25,
        scaleFontSize: 10,
        scaleFontFamily: "'Source Sans Pro', sans-serif",

        // in-graph data
        inGraphDataShow: true,
        inGraphDataFontColor: '#6d6e71',
        inGraphDataFontFamily: "'Source Sans Pro', sans-serif",
        inGraphDataFontSize: 10,

        //spacing
        barDatasetSpacing: 0,
        barValueSpacing: 3,

        annotateDisplay: true,
        pointLabelFontSize: 10,

        // legend
        legend: true,
        //legendPosX: 0,
        //legendPosY: 0,
        //legendXPadding: -10,
        //barValueSpacing: 3,
    };

  // Keep chart in global scope to make it available for updates

  var prepareChartData = function(labels, sentData, startedData, completedData){
      var barData = {
        labels: labels,
        datasets: [
          {
            fillColor: '#6d6e71',
            strokeColor: '#6d6e71',
            data: sentData,
            title: 'Surveys sent'
          },
          {
            fillColor: '#929497',
            strokeColor: '#929497',
            data: startedData,
            title: 'Surveys started'
          },
          {
            fillColor: '#a6a8ab',
            strokeColor: '#a6a8ab',
            data: completedData,
            title: 'Surveys completed'
          }
        ]
      };

      return barData;

  }

  var buildChart = function(labels, sentData, startedData, completedData, max_val){
      var chart = $('#facility-chart')[0].getContext('2d');
      var chartData = prepareChartData(labels, sentData, startedData, completedData);
      var chartObject = new Chart(chart);
      var opts = barOptions;
      opts['scaleStepWidth'] = max_val/5;
      chartObject.Bar(chartData, opts);
  }
  
  var updateChartData = function(labels, sentData, startedData, completedData){
      var chartData = prepareChartData(labels, sentData, startedData, completedData);
      updateChart(chart, chartData, barOptions);
  }

$(function() {
    var max_val = Math.ceil({{ max_chart_value }}/100)*100;
    var labels = [
        {% for label in feedback_clinics %}
            "{{ label }}"{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var sent = [
        {% for sent in feedback_stats.sent %}
            {{ sent }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var started = [
        {% for started in feedback_stats.started %}
            {{ started }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var completed = [
        {% for completed in feedback_stats.completed %}
            {{ completed }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    buildChart(labels, sent, started, completed, max_val);
});
/*  $(function() {
      var barData = {
        labels: [
          {% for label in feedback_clinics %}
            "{{ label }}"{% if not forloop.last %}, {% endif %}
          {% endfor %}
        ],
        datasets: [
          {
            fillColor: '#6d6e71',
            strokeColor: '#6d6e71',
            data: [
              {% for sent in feedback_stats.sent %}
                {{ sent }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            ],
            title: 'Surveys sent'
          },
          {
            fillColor: '#929497',
            strokeColor: '#929497',
            data: [
              {% for started in feedback_stats.started %}
                {{ started }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            ],
            title: 'Surveys started'
          },
          {
            fillColor: '#a6a8ab',
            strokeColor: '#a6a8ab',
            data: [
              {% for completed in feedback_stats.completed %}
                {{ completed }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            ],
            title: 'Surveys completed'
          }
        ]
      }
      var chart = $('#facility-chart')[0].getContext('2d');
      return new Chart(chart).Bar(barData, barOptions);
  });
  */
</script>
{% endblock extra-js %}

{% block content %}
  <div class="container main-header">
    <div class="col-xs-6 no-padding-left">
      <h1>
        <span style="font-weight: 700;">{{ object.name }}</span><br />
        Facility Report
      </h1>

      <div class="lead">The following document was generated through the ICT4SA
      program, intended to provide trial period reporting to selected
      {{ object.lga }} Clinic Staff. The following data was collected through
      SMS surveys of patients at {{ object.name }}.</div>
    </div>

    <div class="col-xs-6 participation-module no-padding-right">
      <div class="date styled-select">
        <select id="service-feedback-weeks" dir="rtl">
            <option value='{{ min_date|date:"F j, Y" }} - {{ max_date|date:"F j, Y" }}'> All Weeks: {{ min_date|date:"M j, Y" }} - {{ max_date|date:"M j, Y" }}</option>
            <option value='{{ week_start|date:"F j, Y" }} - {{ week_end|date:"F j, Y" }}'> Current Week: {{ week_start|date:"M j, Y" }} - {{ week_end|date:"M j, Y" }}</option>
            {% for start, end in week_ranges %}
            <option value='{{ start|date:"F j, Y" }} - {{ end|date:"F j, Y" }}'>{{ start|date:"M j, Y" }} - {{ end|date:"M j, Y" }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="content web-only">
          <h2>SURVEY PARTICIPATION</h2>
          {% if num_registered %}
            <div class="col-xs-4">
              <h1 id="num_registered">{{ num_registered }}</h1> Sent
            </div>
            <div class="col-xs-4">
              <h1>
                  <span id="num_started">{{ num_started }}</span> 
                  <span id="perc_started" class="report-percent">({{ percent_started|floatformat:"0" }}%)</span>
              </h1> Started
            </div>
            <div class="col-xs-4">
              <h1>
                <span id="num_completed">{{ num_completed }}</span> 
                <span id="perc_completed" class="report-percent">({{ percent_completed|floatformat:"0" }}%)</span>
              </h1> Completed 
            </div>
          {% else %}
            <div class="col-xs-12">
              <h1>0</h1> Patients registered for survey
            </div>
          {% endif %}
          {% comment %}
          {# TODO #}
          <div class="col-xs-4">
            <h1>{{ participation_rank }}</h1> Participation ranking among facilities
          </div>
          {% endcomment %}
        </div>

        <div class="content print-only" style="padding: 0px">
          <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 101px; padding:0px;">
          <div style="position: absolute; top: 57px; left: 24px; width: 100%; height: 100%;">
            <h2>SURVEY PARTICIPATION</h2>
            {% if num_registered %}
              <div class="col-xs-3">
                <h1>{{ num_registered }}</h1> Sent
              </div>
              <div class="col-xs-4">
                <h1>{{ num_started }} <span class="report-percent">({{ percent_started|floatformat:"0" }}%)</span></h1> Started
              </div>
              <div class="col-xs-4">
                <h1>{{ num_completed }} <span class="report-percent">({{ percent_completed|floatformat:"0" }}%)</span></h1> Completed 
              </div>
            {% else %}
              <div class="col-xs-12">
                <h1>0</h1> Patients registered for survey
              </div>
            {% endif %}
            {% comment %}
            {# TODO #}
            <div class="col-xs-4">
              <h1>{{ participation_rank }}</h1> Participation ranking among facilities
            </div>
            {% endcomment %}
          </div>
        </div>

    </div>
  </div><!-- /.container -->

{% if not responses %}
  <div class="container">
    <p>We do not yet have any responses from patients for {{ clinic.name }}.
    Please try again later!</p>
  </div>
{% else %}
  <div class="print-only"><br/><br/></div>

  <!-- .container#feedback-chart -->

  <div id="feedback-chart" class="container">
      <div class="col-xs-12 section-heading web-only">
          <h2>PARTICIPATION BY FACILITY</h2>
      </div>
      <p>Number of patients who received, started, and completed surveys across Wamba LGA.</p>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">PARTICIPATION BY FACILITY</h2>
    </div>
    <!-- chart div -->
    <div class="col-xs-6 chart-container" id="facility-participation-chart">
        <div class="col-xs-12"></div>
        <div id="chart-container">
            <canvas id="facility-chart" width=615 height=310></canvas>
        </div>
    </div>
    <!-- chart div -->
</div>
<!-- .container#feedback-chart -->

<!-- .container#patient-feedback-responses -->
<div id="feedback-on-responses" class="container">
    {% include 'clinics/report_responses.html' %}
</div>
<!-- .container#patient-feedback-responses -->

  <div id="feedback-on-services" class="container">
    <div class="col-xs-12 no-padding-left print-only">
      <h1>
        <span style="font-weight: 700;">{{ object.name }}</span><br />
        Facility Report
      </h1>
  </div>


    <div class="col-xs-12 section-heading web-only">
      <h2>FEEDBACK ON SERVICES</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">FEEDBACK ON SERVICES</h2>
    </div>

    <p>Number of patients with this service who reported this feedback.</p>

    <div id="feedback-container">
    <table class="table table-bordered table-striped" id="feedback_on_services">
      <thead>
        <tr>
          <th class="special-th service-feedback-weeks">
            {{ min_date|date:"F j, Y" }} - {{ max_date|date:"F j, Y" }}
          </th>
          {% for label in question_labels %}
            <th>{{ label }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for service, service_data in feedback_by_service %}
          <tr id="service{{service.name}}">
            <td>{{ service.name }}</td>
            {% for label, result, total_respondents in service_data %}
              {% if total_respondents == None or result == None %}
                <td>N/A (0)</td>
              {% else %}
                <td class="label{{ forloop.counter }}">{{ result }} ({{ total_respondents }})</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div><!-- / .container#feedback-on-services -->

  {% if detailed_comments %}
  <div id="detailed-comments" class="container">
    <div class="col-xs-12 section-heading web-only">
      <h2>DETAILED COMMENTS</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">DETAILED COMMENTS</h2>
    </div>

     <table id="comments-table" class="table table-bordered table-striped web-only">
      <thead>
        <tr>
          <th class="special-th no-bottom-border">Date</th>
          <th class="no-bottom-border width100">Comments</th>
        </tr>
      </thead>
      <tbody>
        {% regroup detailed_comments by question as comments %}
        {% for comment_group in comments %}
          <tr class="comment-head">
            <td colspan="6" class="special-table-row">
              {{ comment_group.grouper|upper }}
            </td>
          </tr>
          {% for comment in comment_group.list %}
          <tr class="comment" id="comment{% cycle 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 as webcycle %}">
              <td>{{ comment.datetime|date:"d/m/Y" }}</td>
              <td class="comment_text">{{ comment.response }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <table id="comments-table" class="table table-bordered table-striped print-only">
      <thead>
        <tr>
          <th class="special-th no-bottom-border">Date</th>
          <th class="no-bottom-border">Comments</th>
        </tr>
      </thead>
      <tbody>
        {% regroup detailed_comments by question as comments %}
        {% for comment_group in comments %}
          <tr class="special-table-row">
            <td colspan="6">
              {{ comment_group.grouper|upper }}
            </td>
          </tr>
          {% for comment in comment_group.list %}
            <!-- // {% cycle 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18  as printcycle %} -->
            {% if printcycle == 10 %}
              </table></div>
              <div class="print-break"></div><br/><br/>
              <div class="container">
              <div class="col-xs-12 no-padding-left print-only" style="border: 0px">
                  <h1>
                    <span style="font-weight: 700;">{{ object.name }}</span><br />
                    Facility Report
                  </h1>
              </div>
            </div><br/>
          <div id="detailed-comments" class="container">
              <table class="table table-bordered table-striped print-only">
                <thead>
                <tr>
                  <th class="special-th no-bottom-border">Date</th>
                  <th class="no-bottom-border">Comments</th>
                </tr>
              </thead>
              <tbody>
            {% endif %}
              <tr id="comment{{ printcycle }}">
                <td>{{ comment.datetime|date:"d/m/Y" }}</td>
                <td class="comment_text">{{ comment.response }}</td>
              </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div><!-- / .container#detailed-comments -->
  {% endif %}
{% endif %}
{% endblock content %}


{% block js %}

<script src="{% static 'lib/jquery-1.10.2/jquery.min.js' %}"></script>
<script>

  var m_names = new Array("January", "February", "March", 
      "April", "May", "June", "July", "August", "September", 
      "October", "November", "December"); 
      // I wish there was a better solution to this but new Date().format doesn't work any longer.

  function getLastWeek(start_date){

    var start_date = start_date;
    var lastWeek = new Date(start_date.getFullYear(), start_date.getMonth(), start_date.getDate() - 7);
    return lastWeek ;
  }

  function get_four_week_cutoff(end_date) {
    var dt = new Date(end_date.getTime());
    dt.setDate(dt.getDate()-21);
    return dt;
  }

  function getLastThreeWeeks(start_date) {
    var results = []
    results.push(start_date);
    for(i=0; i<3; i++){ 
      start_date = getLastWeek(start_date);
      results.push(start_date);
    }
    
    return results
  }

  // Hide the extra page header if we have less than 4 charts. 
  function showhideChartHeader() {
    if($("div.chart-container:visible").length > 4) {
      $(".chart-break").show()  
    }
    else 
      $(".chart-break").hide() 
    
  }

  function showAllCharts() {
    $("div.chart-container").each(function(){
      $(this).show();
    });
  }

  function hideOtherCharts() {
    // Hide Charts to show only Selected and Previous Three Charts.
    var start = $("#service-feedback-weeks").val().split("-")[0];
    var start_date = new Date(start);
    var three_weeks = get_four_week_cutoff(start_date);

    var counter = 0;
    $("div.chart-container").each(function(){
        $(this).hide();
        var dt = new Date($(this).attr("id")).getTime();
        if ((dt >= three_weeks.getTime()) && (dt <= start_date.getTime()))
          $(this).show();
    });

  }

 $(document).ready( function () {

    $("#service-feedback-weeks").change( function() {

      // Update the Feedback on Services Table by Week
      filter_feedback_by_week();

      // Show / Hide Comments
      hideOtherComments();

      return;

      // Update the Values within the Charts to the Select Value
      $( ".service-feedback-weeks" ).each(function( index ) {
        $( this ).text($("#service-feedback-weeks").val());
      });

      // Show / Hide Charts
      if($('#service-feedback-weeks option:selected').text().indexOf("All Weeks") > -1)
        showAllCharts();
      else
        hideOtherCharts();

      // Show / Hide Chart Header (for print versions only)
      showhideChartHeader();
    });


});

  function filter_feedback_by_week() {

    // Completion Rate Table - Get Dates from Selected option.
    var start_date = $("#service-feedback-weeks").val().split(" - ")[0];
    var end_date = $("#service-feedback-weeks").val().split(" - ")[1];

    // Send dates via Ajax to our Filter and parse the results.
    $.get("/report_filter_feedback_by_week", {"start_date":start_date, "end_date":end_date, "clinic_id":{{object.id}} }, function(data, status){

      // Update the Participation Summary on the top
      $("#num_registered").text(data.num_registered);
      $("#num_started").text(data.num_started);
      $("#perc_started").text("("+data.perc_started+"%)");
      $("#num_completed").text(data.num_completed);
      $("#perc_completed").text("("+data.perc_completed+"%)");

      $("#feedback-container").html(data.fos_html);

      //$("#facility-participation-chart").html(data.chart_html);

      $("#chart-container").html('<canvas id="facility-chart" width=615 height=310></canvas>');
      var max_val = Math.ceil(data.max_chart_value/100)*100;
      buildChart(
          data.feedback_clinics,
          data.feedback_stats.sent,
          data.feedback_stats.started,
          data.feedback_stats.completed,
          max_val);

      // patient responses
      $("#feedback-on-responses").html(data.responses_html);
      return;


      // Update Feedback of Services Chart
      $.each(data.fos, function(num, results){

        service_name = results[0];
        core_data = results[1];
        label_counter=0;

      // Update Core Data
      $.each(core_data, function(num, results2){
        label = results2[0];
        perc = results2[1];
        num = results2[2];
        label_counter++;
        $("tr#service"+service_name+" td.label"+label_counter).text(perc + " ("+num+")");
        });
      });
    });

  }

  function parseDate(input) {
    var str= input.split('/');
    return new Date(str[2], str[1]-1, str[0]); 
  }

  function hideOtherComments() {

    // Hide Charts to show only Selected and Previous Three Charts.
    var start_date_text = $("#service-feedback-weeks").val().split(" - ")[0];
    var end_date_text = $("#service-feedback-weeks").val().split(" - ")[1];
    var start_date = new Date(start_date_text);
    var end_date = new Date(end_date_text);

    // Loop Comments Table Entries
    $("table#comments-table tbody tr.comment").each(function(){

      // Look for the first td which has a date in it.
      comment_date = parseDate($(this).children(":first").text());
      if(start_date <= comment_date && comment_date <= end_date) {
        $(this).show();
      }
      else { 
        $(this).hide();
      }
    });

    // Hide Individual Sections if there are no comments
    $("table#comments-table tbody tr.comment-head").each(function(){
      if($(this).nextUntil( "tr.comment-head", "tr.comment:visible").length == 0) {
        $(this).hide();
      }
      else
        $(this).show();
    });

    // Hide Entire Comment Sections if all the comments within are hidden, replace with text stating no comments.
    hidden_comments_num = $("table#comments-table tbody tr.comment:hidden").length
    visible_comments_num = $("table#comments-table tbody tr.comment:visible").length

    // Add the no comments message
    if(visible_comments_num == 0) {
      $("table#comments-table tbody tr").hide();
      $("table#comments-table tbody").prepend("<tr class='no-comments'><td colspan=2>No comments during "+start_date_text+" - "+end_date_text+"</td></tr>");
    }

    else {    
      // Remove all 'No Comments' rows for housekeeping purposes.
      $(".no-comments").remove();
    }
  }


</script>
{% endblock js %}
