{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}{{ object.name }} Facility Report{% endblock title %}

{% block extra-js %}
<script src="{% static 'lib/chartnew/ChartNew.js' %}"></script>
<script>
  var labels = ['Open\nFacility', 'Respectful\nStaff\nTreatment',
                'Clean\nHospital\nMaterials', 'Charged\nFairly'],
      fillColor = ['#6D6E71', '#808184', '#929497', '#A6A8AB'],
      barOptions = {
        barShowStroke: false,
        scaleFontSize: 9,
        scaleFontFamily: "'Source Sans Pro', sans-serif",
        barValueSpacing: 8,
        inGraphDataShow: true,
        inGraphDataYPosition: 2,
        inGraphDataFontColor: 'black',
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 5,
        scaleStepWidth: 20,
        yAxisLabel: "Percentage",
        yAxisFontSize: 12
      };

  var createChart = function(id, data) {
    var chart = $(id)[0].getContext('2d');
    var barData = {
      labels: labels,
      datasets : [{fillColor: fillColor, data: data}]
    };
    return new Chart(chart).Bar(barData, barOptions);
  }
  $(function() {
    {% for week in feedback_by_week %}
      createChart("#weekChart{{ forloop.counter }}", [
        {% for percentage, count in week.data %}
          {{ percentage|default:0 }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      ]);
    {% endfor %}
  });
</script>
{% endblock extra-js %}

{% block content %}
  <div class="container main-header">
    <div class="col-xs-6 no-padding-left">
      <h1>
        <span style="font-weight: 700;">{{ object.name }}</span><br />
        Facility Report
      </h1>

      <div class="lead">The following document was generated through the ICT4SA
      program, intended to provide trial period reporting to selected
      {{ object.lga }} Clinic Staff. The following data was collected through
      SMS surveys of patients at {{ object.name }}.</div>
    </div>

    <div class="col-xs-6 participation-module no-padding-right">
      <div class="date">
        <select id="service-feedback-weeks">
            {% for week in weeks %}
              {% if forloop.first %} 
                <option value="{{ week.start|date:"F j, Y" }} - {{ week.end|date:"F j, Y" }}">All Weeks</option>
              {% elif forloop.counter == 2 %}
                <option value="{{ week.start|date:"F j, Y" }} - {{ week.end|date:"F j, Y" }}">Current Week</option>
              {% else %}
                <option>{{ week.start|date:"F j, Y" }} - {{ week.end|date:"F j, Y" }}</option>            
              {% endif %}
            {% endfor %}
        </select>
        </div>
        <div class="content web-only">
          <h2>SURVEY PARTICIPATION</h2>
          {% if num_registered %}
            <div class="col-xs-4">
              <h1>{{ num_registered }}</h1> Sent
            </div>
            <div class="col-xs-4">
              <h1>{{ num_started }} <span class="report-percent">({{ percent_started|floatformat:"0" }}%)</span></h1> Started
            </div>
            <div class="col-xs-4">
              <h1>{{ num_completed }} <span class="report-percent">({{ percent_completed|floatformat:"0" }}%)</span></h1> Completed 
            </div>
          {% else %}
            <div class="col-xs-12">
              <h1>0</h1> Patients registered for survey
            </div>
          {% endif %}
          {% comment %}
          {# TODO #}
          <div class="col-xs-4">
            <h1>{{ participation_rank }}</h1> Participation ranking among facilities
          </div>
          {% endcomment %}
        </div>

        <div class="content print-only" style="padding: 0px">
          <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 101px; padding:0px;">
          <div style="position: absolute; top: 57px; left: 24px; width: 100%; height: 100%;">
            <h2>SURVEY PARTICIPATION</h2>
            {% if num_registered %}
              <div class="col-xs-3">
                <h1>{{ num_registered }}</h1> Sent
              </div>
              <div class="col-xs-4">
                <h1>{{ num_started }} <span class="report-percent">({{ percent_started|floatformat:"0" }}%)</span></h1> Started
              </div>
              <div class="col-xs-4">
                <h1>{{ num_completed }} <span class="report-percent">({{ percent_completed|floatformat:"0" }}%)</span></h1> Completed 
              </div>
            {% else %}
              <div class="col-xs-12">
                <h1>0</h1> Patients registered for survey
              </div>
            {% endif %}
            {% comment %}
            {# TODO #}
            <div class="col-xs-4">
              <h1>{{ participation_rank }}</h1> Participation ranking among facilities
            </div>
            {% endcomment %}
          </div>
        </div>

    </div>
  </div><!-- /.container -->

{% if not responses %}
  <div class="container">
    <p>We do not yet have any responses from patients for {{ clinic.name }}.
    Please try again later!</p>
  </div>
{% else %}
  <div id="feedback-analytics" class="container print-break">
    <div class="col-xs-12 section-heading web-only">
      <h2>FEEDBACK ANALYTICS</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">FEEDBACK ANALYTICS</h2>
    </div>

    {% for week in feedback_by_week %}
      <div class="col-xs-6 chart-container" id="{{ week.week_start.date|date:"F-j-Y" }}">
        <div class="col-xs-12">
          <h2>{{ week.week_start.date|date:"F j" }} - {{ week.week_end.date|date:"F j" }}<br/>
            <span class="survey_num">
          {{ week.survey_num }} Surveys</span></h2>
        </div>
        <div class="col-xs-6" >  
          <div class="green-box">
            {% if week.patient_satisfaction == None %}
              N/A
            {% else %}
              {{ week.patient_satisfaction }}%
            {% endif %}
          </div>
          <div class="green-box-label">Patient<br />satisfaction</div>
        </div>
        <div class="col-xs-6">
          <div class="green-box">
            {% if week.wait_time_mode == None %}
              N/A
            {% else %}
              {{ week.wait_time_mode }}
            {% endif %}
          </div>
          <div class="green-box-label">Most common<br />wait time</div>
        </div>
        <canvas id="weekChart{{ forloop.counter }}" height="250" width="275"></canvas>
      </div>
    {% endfor %}
  </div><!-- / .container#feedback-analytics -->
  <div class="print-only"><br/><br/></div>

  
  <div id="feedback-on-services" class="container">
    <div class="col-xs-12 no-padding-left print-only">
      <h1>
        <span style="font-weight: 700;">{{ object.name }}</span><br />
        Facility Report
      </h1>
  </div>


    <div class="col-xs-12 section-heading web-only">
      <h2>FEEDBACK ON SERVICES</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">FEEDBACK ON SERVICES</h2>
    </div>

    <p>Number of patients with this service who reported this feedback.</p>

    <table class="table table-bordered table-striped" id="feedback_on_services">
      <thead>
        <tr>
          <th class="special-th service-feedback-weeks">
            {{ min_date|date:"F j, Y" }} - {{ max_date|date:"F j, Y" }}
          </th>
          <th>Open Facility</th>
          <th>Respectful<br />Staff Treatment</th>
          <th>Clean<br />Hospital Materials</th>
          <th>Charged Fairly</th>
          <th>Most Common<br />Wait Time (hrs)</th>
        </tr>
      </thead>
      <tbody>
        {% for service, service_data in feedback_by_service %}
          <tr id="service{{service.name}}">
            <td>{{ service.name }}</td>
            {% for label, result, total_respondents in service_data %}
              {% if result == None %}
                <td>N/A (0)</td>
              {% else %}
                <td class="label{{ forloop.counter }}">{{ result }} ({{ total_respondents }})</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- / .container#feedback-on-services -->

  {% if detailed_comments %}
  <div id="detailed-comments" class="container">
    <div class="col-xs-12 section-heading web-only">
      <h2>DETAILED COMMENTS</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">DETAILED COMMENTS</h2>
    </div>

     <table id="comments-table" class="table table-bordered table-striped web-only">
      <thead>
        <tr>
          <th class="special-th no-bottom-border">Date</th>
          <th class="no-bottom-border">Comments</th>
        </tr>
      </thead>
      <tbody>
        {% regroup detailed_comments by question as comments %}
        {% for comment_group in comments %}
          <tr>
            <td colspan="6" class="special-table-row">
              {{ comment_group.grouper|upper }}
            </td>
          </tr>
          {% for comment in comment_group.list %}
          <tr id="comment{% cycle 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 as webcycle %}">
              <td>{{ comment.datetime|date:"d/m/Y" }}</td>
              <td class="comment_text">{{ comment.response }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <table id="comments-table" class="table table-bordered table-striped print-only">
      <thead>
        <tr>
          <th class="special-th no-bottom-border">Date</th>
          <th class="no-bottom-border">Comments</th>
        </tr>
      </thead>
      <tbody>
        {% regroup detailed_comments by question as comments %}
        {% for comment_group in comments %}
          <tr>
            <td colspan="6" class="special-table-row">
              {{ comment_group.grouper|upper }}
            </td>
          </tr>
          {% for comment in comment_group.list %}
            <!-- // {% cycle 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18  as printcycle %} -->
            {% if printcycle == 10 %}
              </table></div>
              <div class="print-break"></div><br/><br/>
              <div class="container">
              <div class="col-xs-12 no-padding-left print-only" style="border: 0px">
                  <h1>
                    <span style="font-weight: 700;">{{ object.name }}</span><br />
                    Facility Report
                  </h1>
              </div>
            </div><br/>
          <div id="detailed-comments" class="container">
              <table class="table table-bordered table-striped print-only">
                <thead>
                <tr>
                  <th class="special-th no-bottom-border">Date</th>
                  <th class="no-bottom-border">Comments</th>
                </tr>
              </thead>
              <tbody>
            {% endif %}
              <tr id="comment{{ printcycle }}">
                <td>{{ comment.datetime|date:"d/m/Y" }}</td>
                <td class="comment_text">{{ comment.response }}</td>
              </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div><!-- / .container#detailed-comments -->
  {% endif %}
{% endif %}
{% endblock content %}


{% block js %}

<script src="{% static 'lib/jquery-1.10.2/jquery.min.js' %}"></script>
<script>

  var m_names = new Array("January", "February", "March", 
      "April", "May", "June", "July", "August", "September", 
      "October", "November", "December"); 
      // I wish there was a better solution to this but new Date().format doesn't work any longer.

  function getLastWeek(start_date){

    var start_date = start_date;
    var lastWeek = new Date(start_date.getFullYear(), start_date.getMonth(), start_date.getDate() - 7);
    return lastWeek ;
  }

  function getLastThreeWeeks(start_date) {
    var results = []
    results.push(start_date);
    for(i=0; i<3; i++){ 
      start_date = getLastWeek(start_date);
      results.push(start_date);
    }
    
    return results
  }

  function showAllCharts() {
    $("div.chart-container").each(function(){
      $(this).show();
    });
  }

  function hideOtherCharts() {
    // Hide Charts to show only Selected and Previous Three Charts.
    var start_date = new Date($("#service-feedback-weeks").val().split(" - ")[0]);
    var three_weeks = getLastThreeWeeks(start_date);

    // Loop All Charts
    $("div.chart-container").each(function(){
      $(this).hide();

      for(var i=0; i<three_weeks.length; i++)
        if(new Date($(this).attr("id")).getTime() == three_weeks[i].getTime())
          $(this).show();       // Maybe it was hidden from a previous cycle of this..          
    });
  }

 $(document).ready( function () {
  
    $("#service-feedback-weeks").change( function() {
      
      // Update the Feedback on Services Table by Week
      console.log("Updating Feedback on Services Table by Week");
      filter_feedback_by_week();

      // Update the Values within the Charts to the Select Value
      $( ".service-feedback-weeks" ).each(function( index ) {
        $( this ).text($("#service-feedback-weeks").val());
      });

      // Show / Hide Charts
      if($('#service-feedback-weeks option:selected').text() == "All Weeks")
        showAllCharts();
      else
        hideOtherCharts();

      /*for(var i=0; i<three_weeks.length; i++)
        if(new Date(start_date).getTime() == three_weeks[i].getTime())
          date_string = m_names[three_weeks[i].getMonth()] + "-" + three_weeks[i].getDate() + "-" + three_weeks[i].getFullYear() 
          console.log("fnord: " + date_string);*/

    });
});
    
  function filter_feedback_by_week() {
    
    // Completion Rate Table - Get Dates from Selected option.
    var start_date = $("#service-feedback-weeks").val().split(" - ")[0];
    var end_date = $("#service-feedback-weeks").val().split(" - ")[1];

    // Send dates via Ajax to our Filter and 
    $.get("/report_filter_feedback_by_week", {'start_date':start_date, 'end_date':end_date}, function(data,status){
      
      $.each(data, function(num, results){
      
        service_name = results[0];
        core_data = results[1];
        label_counter=0;

        $.each(core_data, function(num, results2){
          label = results2[0];
          perc = results2[1];
          num = results2[2];
          label_counter++;
          $("tr#service"+service_name+" td.label"+label_counter).text(perc + " ("+num+")");
        });
      });
    });
  }

</script>
{% endblock js %}
