{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Select Clinic For Report{% endblock title %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>WAMBA LGA FACILITIES <small>SELECT ONE</small></h1>
    </div>
    <form role="form" class="form-inline"
          method="post" action="{% url 'select_clinic' %}">
      {% csrf_token %}
      {{ form.clinic.errors }}
      {{ form.non_field_errors }}
      <div class="form-group">
        <label class="sr-only" for="{{ form.clinic.id_for_label }}">
          {{ form.clinic.label }}
        </label>
        {% render_field form.clinic class="form-control" %}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">VIEW CLINIC</button>
      </div>
    </form>
  </div>
{% endblock content %}
