{% extends "base.html" %}
{% load humanize %}

{% load static from staticfiles %}

{% block title %}{{ object.name }} {{ object.get_type_display }} Summary Feedback Report{% endblock title %}

{% block extra-js %}
<script src="{% static 'lib/chartnew/ChartNew.js' %}"></script>
<script>
  var barOptions = {
        //barShowStroke: true,
        // scale
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 5,
        scaleStepWidth: 20,
        scaleFontSize: 10,
        scaleFontFamily: "'Source Sans Pro', sans-serif",

        // in-graph data
        inGraphDataShow: true,
        inGraphDataFontColor: '#6d6e71',
        inGraphDataFontFamily: "'Source Sans Pro', sans-serif",
        inGraphDataFontSize: 10,

        //spacing
        barDatasetSpacing: 0,
        barValueSpacing: 3,

        annotateDisplay: true,
        pointLabelFontSize: 10,

        // legend
        legend: true,
        //legendPosX: 0,
        //legendPosY: 0,
        //legendXPadding: -10,
        //barValueSpacing: 3,
    };

var getChartHeight = function(item_count) {
    return item_count * 45;
};

var buildFeedbackChart = function(labels, data) {
    var chartData = {
        labels: labels,
        datasets: [
          {
            fillColor: ['#6d6e71', '#929497', '#a6a8ab', '#c0c0c0', '#e8e8e8'],
            strokeColor: ['#6d6e71', '#929497', '#a6a8ab', '#c0c0c0', '#e8e8e8'],
            data: data,
          }
        ]
    };

    var opts = barOptions;
    opts['legend'] = false;
    opts['scaleSteps'] = 6;
    opts['inGraphDataTmpl'] = "<%=v3 + '%' %>";
    opts['annotateLabel'] = "<%=v2 + '(' + v3 + '%)' %>";
    var chart = $('#feedback-chart')[0].getContext('2d');
    var chartObject = new Chart(chart);
    chartObject.Bar(chartData, barOptions);
}

var buildFacilityChart = function(labels, sent, started, completed, max_val){
      var barData = {
        labels: labels,
        datasets: [
          {
            fillColor: '#6d6e71',
            strokeColor: '#6d6e71',
            data: sent,
            title: 'Surveys sent'
          },
          {
            fillColor: '#929497',
            strokeColor: '#929497',
            data: started,
            title: 'Surveys started'
          },
          {
            fillColor: '#a6a8ab',
            strokeColor: '#a6a8ab',
            data: completed,
            title: 'Surveys completed'
          }
        ]
      };

      var opts = barOptions;
      opts['legend'] = true;
      opts['scaleStepWidth'] = max_val/5;
      opts['inGraphDataTmpl'] = "<%=v3%>";
      opts['annotateLabel'] = "<%=v2 + '(' + v3 + ')' %>";
      var chart = $('#facility-chart')[0].getContext('2d');
      var chartObject = new Chart(chart);
      chartObject.HorizontalBar(barData, opts);
}

$(function() {
    var labels = [
    {% for label in question_labels %}
      "{{ label }}"{% if not forloop.last %}, {% endif %}
    {% endfor %}
    ];
    var data = [
    {% for item in response_stats %}
      "{{ item.1 }}"{% if not forloop.last %}, {% endif %}
    {% endfor %}
    ];

    buildFeedbackChart(labels, data);

    var max_val = Math.ceil({{ max_chart_value }}/100)*100;
    var labels = [
        {% for label in feedback_clinics %}
            "{{ label }}"{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var sent = [
        {% for sent in feedback_stats.sent %}
            {{ sent }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var started = [
        {% for started in feedback_stats.started %}
            {{ started }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var completed = [
        {% for completed in feedback_stats.completed %}
            {{ completed }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    $("#facility-chart").attr("height", getChartHeight(labels.length));
    buildFacilityChart(labels, sent, started, completed, max_val);

    //Set select-box to first option
    $('#weeks_filter').val($('#weeks_filter option:first').val());
});

</script>

{% endblock extra-js %}

{% block content %}
  <div class="container main-header">
    <div class="col-xs-9 no-padding-left">
      <h1>
        <span style="font-weight: 700;">{{ object.name }} {{ object.get_type_display }}</span><br />
         Summary Feedback Report
      </h1>

      <div class="lead">The following document was generated through the
      ICT4SA program, intended to provide trial period reporting to selected
      NSHIP PBF staff. The following data was collected through SMS surveys of
      patients in 11 {{ object.name }} {{ object.get_type_display }} PBF
      Integrated Clinics and some additional community members.</div>
    </div>  
  </div><!-- /.container -->

  
  <div id="feedback-on-services" class="container">
    <div class="col-xs-12 no-padding-left web-only">
      <h1>
      <div class="styled-select full-width">
        <select id="weeks_filter" dir="rtl" class="float-right">
            <option value="{{ min_date|date:"F j, Y" }} - {{ max_date|date:"F j, Y" }}">All Weeks: {{ min_date|date:"M j, Y" }} - {{ max_date|date:"M j, Y" }}</option>
            <option value='{{ week_start|date:"F j, Y" }} - {{ week_end|date:"F j, Y" }}'> Current Week: {{ week_start|date:"M j, Y" }} - {{ week_end|date:"M j, Y" }}</option>
          {% for start, end in week_ranges %}
            <option value='{{ start|date:"F j, Y" }} - {{ end|date:"F j, Y" }}'>{{ start|date:"M j, Y" }} - {{ end|date:"M j, Y" }}</option>
          {% endfor %}
        </select>
      </div>
      </h1>
    </div>
    <div class="col-xs-12 section-heading web-only">
      <h2>FEEDBACK ON SERVICES</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">FEEDBACK ON SERVICES</h2>
    </div>


    <div>
    <p>Number of patients with this service who reported this feedback.</p>

    <table id="services-table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="special-th weeks_filter">Services {{ min_date|date:"F j, Y" }} - {{ max_date|date:"F j, Y" }}</th>
          {% for heading in service_labels %}
            <th>{{ heading }}</th>
          {% endfor %}
        </tr>
      </thead>
      
      <tbody>
        {% for service, service_data in feedback_by_service %}
        <tr id="service{{ service.id }}">
            <td id="service_name">{{ service.name }}</td>
            {% for label, result, total_respondents in service_data %}
              {% if result == None %}
                <td class="{{ label }}">N/A (0)</td>
              {% else %}
                <td class="{{ label }}">{{ result }} ({{ total_respondents }})</td>
              {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  </div><!-- / #feedback-on-services .container -->


  <!-- #lga-wide-patient-feedback -->
  <div id="lga-wide-patient-feedback" class="container">
    <div class="col-xs-12 section-heading web-only">
      <h2>LGA-WIDE PATIENT FEEDBACK</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">LGA-WIDE PATIENT FEEDBACK</h2>
    </div>

  
        <p>Summary of patients reports on {{ lga.name }} facility experience.</p>
     <div id="patient-feedback">
      <div id="feedback-chart-container" class="two-col-div">
          <canvas id="feedback-chart" width=350 height=210></canvas>
      </div>
      <div id="patient-feedback-comments" class="two-col-div">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th class="special-th">Main Comments for {{ lga.name }} LGA:</th>
                      <th class="special-th"># Reported</th>
                  </tr>
              </thead>
              <tbody>
                  {% for comment in main_comments %}
                      <tr>
                          <td>{{ comment.0 }}</td>
                          <td>{{ comment.1 }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>

  </div>
  <!-- #lga-wide-patient-feedback -->

  <div id="feedback-facility" class="container print-break">
    <div class="col-xs-12 section-heading web-only">
      <h2>FEEDBACK REPORTED BY FACILITY</h2>
    </div>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">FEEDBACK REPORTED BY FACILITY</h2>
    </div>
      

    <p>  </p>

    <table id="facilities-table" class="table table-bordered table-striped">
      <thead>
        <tr>
            <th class="special-th weeks_filter">{{ min_date|date:"F j, Y" }} - {{ max_date|date:"F j, Y" }}</th>
            {% for heading in clinic_labels %}
              <th>
                <div class="green-question-dot" data-toggle="popover" data-placement="bottom" data-content="This response was generated by using key satisfaction indicators based on customer responses in SMS survey.">?</div>
                {{ heading }}
              </th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for clinic_id, clinic, clinic_data in feedback_by_clinic %}
        <tr id="clinic{{clinic_id}}">
            <td class="clinic_name">{{ clinic }}</td>
            {% for label, result, total_respondents in clinic_data %}
            {% if result == None or total_respondents == None %}
              <td class="{{label}}">N/A (0)</td>
            {% else %}
              {% if total_respondents %}
                <td class="{{label}}">{{ result }} ({{ total_respondents }})</td>
              {% else %}
                {% if label == "Quality" %}
                  <td class="{{label}}">{{ result }}</td>
                {% else %}
                  <td class="{{label}}">{{ result }}</td>
                {% endif %}
              {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
      {% endfor %}

      </tbody>
    </table>


  </div><!-- / #feedback-facility .container -->

  <!-- .container#facility-chart -->

  <div id="feedback-chart" class="container">
      <div class="col-xs-12 section-heading web-only">
          <h2>PARTICIPATION BY FACILITY</h2>
      </div>
      <p>Number of patients who received, started, and completed surveys across Wamba LGA.</p>

    <div class="col-xs-12 section-heading print-only" style="padding: 0px">
      <img src="{% static 'img/lt-grey-img.jpg' %}" style="width: 100%; height: 30px; padding:0px">
      <h2 style="position: absolute; top: 7px; left: 15px;">PARTICIPATION BY FACILITY</h2>
    </div>
    <!-- chart div -->
    <div class="col-xs-6 chart-container" id="facility-participation-chart">
        <div class="col-xs-12"></div>
        <div id="facility-chart-container">
            <canvas id="facility-chart" width=615 height=310></canvas>
        </div>
    </div>
    <!-- chart div -->
</div>
<!-- .container#facility-chart -->

{% endblock content %}

{% block js %}

<script src="{% static 'lib/jquery-1.10.2/jquery.min.js' %}"></script>
<script>

 $(document).ready( function () {

    $("#weeks_filter").change( function() {
      do_async();
      //filter_feedback_on_services_table();
      //filter_feedback_on_clinics_table();

      // Update the Values within the Charts to the Select Value
      $( ".weeks_filter" ).each(function( index ) {
        $( this ).text($("#weeks_filter").val());
      });
    });
});

  function do_async() {

    // Completion Rate Table - Get Dates from Selected option.
    var start_date = $("#weeks_filter").val().split(" - ")[0];
    var end_date = $("#weeks_filter").val().split(" - ")[1];

    // Send dates and lga.pk via Ajax to our Filter and 
    $.get("/lga_async", {"start_date":start_date, "end_date":end_date, "lga": {{ lga.pk }} }, function(data,status){
        $("#services-table").html(data.services_html);
        $("#facilities-table").html(data.facilities_html);

        //Facility Chart
        $("#facility-chart-container").html('<canvas id="facility-chart" width=615 height=310></canvas>');
        var max_val = Math.ceil(data.max_chart_value/100)*100;
        $("#facility-chart").attr("height", getChartHeight(data.feedback_clinics.length));
        buildFacilityChart(
            data.feedback_clinics,
            data.feedback_stats.sent,
            data.feedback_stats.started,
            data.feedback_stats.completed,
            max_val);

        //Feedback Chart
        $("#feedback-chart-container").html('<canvas id="feedback-chart" width=350 height=210></canvas>');
        buildFeedbackChart(
            data.question_labels,
            data.response_stats);
    });
  }

</script>
{% endblock js %}
