<table class="table completion_table table-bordered table-striped" style="width:100%">
    <thead>
    <tr>
        <th class="w200">Clinic</th>
        <th>Number of Surveys<br/> Triggered</th>
        <th>Number of Surveys<br/> Started</th>
        <th>Number of Surveys<br/> Completed</th>
    </tr>
  </thead>
    <tbody>
    {% for a_clinic in completion_table %} 
        {% ifnotequal a_clinic.clinic_name "Total" %}
        <tr id="{{ a_clinic.clinic_id }}">
            <td class="clinic_name">{{ a_clinic.clinic_name }}</td>
            <td class="center clinic_st">{{ a_clinic.st_count }}</td>
            <td class="center clinic_ss">{{ a_clinic.ss_count }} ({{ a_clinic.ss_st_percent }}%)</td>
            <td class="center clinic_sc">{{ a_clinic.sc_count }} ({{ a_clinic.sc_st_percent }}%)</td>
        </tr>
        {% endifnotequal %}
    {% endfor %}
   </tbody>
</table>
