{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}{{ object.name }} {{ object.get_type_display }} Summary Feedback Report{% endblock title %}

{% block extra-header-js %}
    <script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables-1.10.0/js/jquery.dataTables.js' %}"></script>
{% endblock extra-header-js %}

{% block content %}
  <div class="container main-header">
    <div class="col-xs-9 no-padding-left">
      <h1>
        <br/>
        <span style="font-weight: 700;">{{ object.name }} {{ object.get_type_display }}</span>
        <span style="font-weight: 700;">Analyst Summary</span>
      </h1>

      <div class="lead"></div>
    </div>
  </div><!-- /.container -->

  <div id="feedback-on-services" class="container">
    <div class="col-xs-12 section-heading completion_selects">
      <h2>COMPLETION RATE</h2>
      Select:
      <select id="crt_start_date">
        <option value="">Start Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="crt_end_date">
        <option value="">End Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="crt_service"><option value="">Service</option>
        {% for service in services %} <option>{{ service.name }}</option> {% endfor %}
      </select>


    </div>
      <table class="completion_table table-bordered table-striped" style="width:100%">
        <tr>
            <td class="w200">Clinic</td>
            <td>Number of Surveys<br/> Triggered</td>
            <td>Number of Surveys<br/> Started</td>
            <td>Number of Surveys<br/> Completed</td>
        </tr>
        {% for a_clinic in completion_table %} 
            {% ifequal a_clinic.clinic_name "Total" %}
            <tr class="bold" id="{{ a_clinic.clinic_id }}">
            {% else %}
            <tr id="{{ a_clinic.clinic_id }}">
            {% endifequal %}
                <td class="clinic_name">{{ a_clinic.clinic_name }}</td>
                <td class="center clinic_st">{{ a_clinic.st_count }}</td>
                <td class="center clinic_ss">{{ a_clinic.ss_count }} ({{ a_clinic.ss_st_percent }}%)</td>
                <td class="center clinic_sc">{{ a_clinic.sc_count }} ({{ a_clinic.sc_st_percent }}%)</td>
            </tr>
        {% endfor %}
      </table>
    </br>
  </div><!-- / #feedback-on-services .container -->

  <div id="feedback-facility" class="container">
    <div class="col-xs-12 section-heading">
      <h2>FEEDBACK RATES BY QUESTION</h2>
      Select:<br/>
      <select id="frt_start_date">
        <option value="">Start Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="frt_end_date">
        <option value="">End Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="frt_clinic"><option value="">Clinic</option>
        {% for a_clinic in clinics %} <option>{{ a_clinic.name }}</option> {% endfor %}
      </select>
      <select id="frt_service"><option value="">Service</option>
        {% for service in services %} <option>{{ service.name }}</option> {% endfor %}
      </select>
    </div>

    <table class="table datatables table-bordered table-striped">
      <thead>
        <tr>
          <th class="special-th">Survey Question</th>
          <th>
            <div class="green-question-dot" data-toggle="popover" data-placement="bottom" data-content="This response was generated by using key satisfaction indicators based on customer responses in SMS survey.">?
            </div>
            Number of <br/>Respondents
          </th>
          <th>
            <div class="green-question-dot" data-toggle="popover" data-placement="bottom" data-content="This response was generated by using key satisfaction indicators based on customer responses in SMS survey.">?
            </div>
            Patient<br/>Response Time
          </th>
          <th>
            <div class="green-question-dot" data-toggle="popover" data-placement="bottom" data-content="This response was generated by using key satisfaction indicators based on customer responses in SMS survey.">?
            </div>
            System<br/>Response Time
          </th>
          
        </tr>
      </thead>

      <tfoot>
          <tr>
              <th class="w200">Survey Question</th>
              <th>Number of Respondents</th>
              <th>Patient Response Time</th>
              <th>System Response Time</th>
          </tr>
      </tfoot>
      <tbody>
        {% for a_row in rates_table %} 
        <tr>
            <td class="clinic_name">{{ a_row.row_title }}</td>
            <td class="center">{{ a_row.rsp_num }}</td>
            <td class="center"> --:-- </td>
            <td class="center"> --:-- </td>
        </tr>
        {% endfor %}
          

      </tbody>
    </table>
  </div><!-- / #feedback-facility .container -->
   
        <script type="text/javascript">
          function filter_completion_rate_table() {
            
            // Completion Rate Table - Selects
            var start_date = $("#crt_start_date").val();
            var end_date = $("#crt_end_date").val();
            // var clinic = $("#crt_clinic").val(); // Use for Feedback Rates Table. Not this Completion Rates
            var service = $("#crt_service").val();

            $.get("/completion_filter", {'service':service, 'start_date':start_date, 'end_date':end_date}, function(data,status){
              $.each(data.clinic_data, function(key, value){
                $("tr#"+key+" td.clinic_st").text(value.st);
                $("tr#"+key+" td.clinic_ss").text(value.ss);
                $("tr#"+key+" td.clinic_sc").text(value.sc + "("+value.scp+"%)");
              });
            });
          }

          $(document).ready( function () {

            $( ".completion_selects select" ).change(function() {
              filter_completion_rate_table();
            });

            $( ".w select" ).change(function() {
              filter_completion_rate_table();
            });


              // Setup - add a text input to each footer cell
            $('.table tfoot th').each( function () {
                var title = $('.table tfoot th').eq( $(this).index() ).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );
            
            // DataTable
            var table = $('.table').DataTable( {
              bFilter: false,
              bInfo : false, 
              paging: false,
              "autoWidth": false,
              "columns": [
              { "width": "200px" },
              { "width": "40px" },
              { "width": "40px" },
              { "width": "40px" },
            ]

            });
         
            // Apply the Data Tables filter
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );            
          } );
        </script>
      
    
  {% endblock content %}
