{% extends "base.html" %}

{% load static from staticfiles %}

{% load rates_data %}

{% block title %}{{ object.name }} {{ object.get_type_display }} Summary Feedback Report{% endblock title %}

{% block extra-header-js %}
    <script src="{% static 'lib/jquery-1.10.2/jquery.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables-1.10.0/js/jquery.dataTables.js' %}"></script>
{% endblock extra-header-js %}

{% block content %}
  <div class="container main-header">
    <div class="col-xs-9 no-padding-left">
      <h1>
        <br/>
        <span style="font-weight: 700;">{{ object.name }} {{ object.get_type_display }}</span>
        <span style="font-weight: 700;">Analyst Summary</span>
      </h1>
    </div>
  </div><!-- /.container -->

  <div id="feedback-on-services" class="container">
    <div class="col-xs-12 section-heading completion_selects">
      <h2>COMPLETION RATE</h2>
      Select:
      <select id="crt_start_date">
        <option value="">Start Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="crt_end_date">
        <option value="">End Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="crt_service"><option value="">Service</option>
        {% for service in services %} <option>{{ service.name }}</option> {% endfor %}
      </select>


    </div>
    <div id="completion"><!-- completion-table container -->
      <table class="table completion_table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th class="w200">Clinic</th>
            <th>Surveys<br/> Sent</th>
            <th>Surveys<br/> Started</th>
            <th>Surveys<br/> Completed</th>
        </tr>
      </thead>
        <tbody>
        {% for a_clinic in completion_table %} 
            {% ifnotequal a_clinic.clinic_name "Total" %}
            <tr id="{{ a_clinic.clinic_id }}">
                <td class="clinic_name">{{ a_clinic.clinic_name }}</td>
                <td class="center clinic_st">{{ a_clinic.st_count }}</td>
                <td class="center clinic_ss">{{ a_clinic.ss_count }} ({{ a_clinic.ss_st_percent }}%)</td>
                <td class="center clinic_sc">{{ a_clinic.sc_count }} ({{ a_clinic.sc_st_percent }}%)</td>
            </tr>
            {% endifnotequal %}
        {% endfor %}
        <tfoot>
          {% for a_clinic in completion_table %} 
            {% ifequal a_clinic.clinic_name "Total" %}
            <tr class="bold" id="{{ a_clinic.clinic_id }}">
              <td class="clinic_name">{{ a_clinic.clinic_name }}</td>
              <td class="center clinic_st">{{ a_clinic.st_count }}</td>
              <td class="center clinic_ss">{{ a_clinic.ss_count }} ({{ a_clinic.ss_st_percent }}%)</td>
              <td class="center clinic_sc">{{ a_clinic.sc_count }} ({{ a_clinic.sc_st_percent }}%)</td>
            </tr>
            {% endifequal %}
          {% endfor %}
        </tfoot>
        </tbody>
      </table>
  </div><!-- End of container of completion-table -->
    </br>
  </div><!-- / #feedback-on-services .container -->

  <div id="feedback-facility" class="container">
    <div class="col-xs-12 section-heading feedback_selects">
      <h2>FEEDBACK RATES BY QUESTION</h2>
      Select:<br/>
      <select id="frt_start_date">
        <option value="">Start Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="frt_end_date">
        <option value="">End Date</option>
        {% for a_date in date_range %}<option>{{ a_date }}</option>{% endfor %}
      </select>
      <select id="frt_clinic"><option value="">Clinic</option>
        {% for a_clinic in clinics %} <option>{{ a_clinic.name }}</option> {% endfor %}
      </select>
      <select id="frt_service"><option value="">Service</option>
        {% for service in services %} <option>{{ service.name }}</option> {% endfor %}
      </select>
    </div>

    <table class="table datatables table-bordered table-striped" style="width:100%">
      <thead>
        <tr>
          <th class="special-th">Survey Question</th>
          <th>
            <div class="green-question-dot" data-toggle="popover" data-placement="bottom" data-content="This response was generated by using key satisfaction indicators based on customer responses in SMS survey.">?
            </div>
            Number of <br/>Responses
          </th>
          <th>
            <div class="green-question-dot" data-toggle="popover" data-placement="bottom" data-content="This response was generated by using key satisfaction indicators based on customer responses in SMS survey.">?
            </div>
            Patient<br/>Response Time
          </th>
          <th>
            <div class="green-question-dot" data-toggle="popover" data-placement="bottom" data-content="This response was generated by using key satisfaction indicators based on customer responses in SMS survey.">?
            </div>
            System<br/>Response Time
          </th>
          
        </tr>
      </thead>

      <tbody>
      <tr id="row11">
          <td class="clinic_name">1.1  Hospital Availablilty</td>
          <td class="center feedback_nor">{% get_rate "Open Facility" "multiple-choice" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row12">
          <td class="clinic_name">1.2  Hospital Availablilty Comment</td>
          <td class="center feedback_nor">{% get_rate "Facility Availability" "open-ended" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row21">
          <td class="clinic_name">2.1 Respectful Staff Treatment</td>
          <td class="center feedback_nor">{% get_rate "Respectful Staff Treatment" "multiple-choice" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row22">
          <td class="clinic_name">2.2 Respectful Staff Treatment Comment</td>
          <td class="center feedback_nor">{% get_rate "Staff Treatment" "open-ended" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row31">
          <td class="clinic_name">3.1 Clean Hospital Materials</td>
          <td class="center feedback_nor">{% get_rate "Clean Hospital Materials" "multiple-choice" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row32">
          <td class="clinic_name">3.2 Clean Hospital Materials Comment</td>
          <td class="center feedback_nor">{% get_rate "Hospital Materials" "open-ended" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row41">
          <td class="clinic_name">4.1 Charged Fairly</td>
          <td class="center feedback_nor">{% get_rate "Charged Fairly" "multiple-choice" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row42">
          <td class="clinic_name">4.2 Charged Fairly Comments</td>
          <td class="center feedback_nor">{% get_rate "Charge for Services" "open-ended" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row51">
          <td class="clinic_name">5.1 Wait Time</td>
          <td class="center feedback_nor">{% get_rate "Wait time" "multiple-choice" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row61">
          <td class="clinic_name">6.1 General Feedback</td>
          <td class="center feedback_nor">{% get_rate "General Feedback" "open-ended" %}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>
      <tr id="row71">
          <td class="clinic_name">7.1 Out-of-Clinic Survey</td>
          <td class="center feedback_nor">{{ gfb_count }}</td>
          <td class="center feedback_prt"> --:-- </td>
          <td class="center feedback_srt"> --:-- </td>
      </tr>

      </tbody>
    </table>
  </div><!-- / #feedback-facility .container -->
   {% endblock content %}

   {% block js %}

        <script type="text/javascript">
          function filter_completion_rate_table() {
            
            // Completion Rate Table - Selects
            var start_date = $("#crt_start_date").val();
            var end_date = $("#crt_end_date").val();
            var service = $("#crt_service").val();

            $.get("/completion_filter", {'service':service, 'start_date':start_date, 'end_date':end_date}, function(data,status){
              $.each(data.clinic_data, function(key, value){
                $("tr#"+key+" td.clinic_st").text(value.st);
                $("tr#"+key+" td.clinic_ss").text(value.ss);
                $("tr#"+key+" td.clinic_sc").text(value.sc + "("+value.scp+"%)");
              });
            });
          }

          function filter_feedback_table() {
            
            // Completion Rate Table - Selects
            var start_date = $("#frt_start_date").val();
            var end_date = $("#frt_end_date").val();
            var clinic = $("#frt_clinic").val(); 
            var service = $("#frt_service").val();

            $.get("/feedback_filter", {'service':service, 'clinic': clinic, 'start_date':start_date, 'end_date':end_date}, function(data,status){
              $.each(data.feedback_data, function(key, value){
                $("tr#"+key+" td.feedback_nor").text(value.rsp_num);
                $("tr#"+key+" td.feedback_prt").text(value.rsp_prt);
                $("tr#"+key+" td.feedback_srt").text(value.rsp_srt);
              });
            });
          }

          $(document).ready( function () {

            $( ".completion_selects select" ).change(function() {
              console.log("Updating Completion Table");
              filter_completion_rate_table();
            });

            $( ".feedback_selects select" ).change(function() {
              console.log("Updating Feedback Table");
              filter_feedback_table();
            });
            
            // DataTable
            var table = $('.table').DataTable( {
              bFilter: false,
              bInfo : false, 
              paging: false,
              "autoWidth": false,
              "columns": [
              { "width": "200px" },
              { "width": "40px" },
              { "width": "40px" },
              { "width": "40px" },
            ]

            });
         
            // Apply the Data Tables filter
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );            
          } );
        </script>
      
    
  {% endblock %}
