{% load humanize %}
{% if clinic.services %}
<div class="panel panel-default" style="margin-bottom: 30px;" id="services">
  <div class="panel-heading">
    <h4 class="panel-title">
     Services
      <a class="pull-right" data-toggle="collapse" data-target="#services table">
        <span class="flyphicon glyphicon-minus"></span>
      </a>
    </h4>
  </div>
  <table class="table collapse in">
    <thead>
      <tr>
        <th class="measurement"></th>
        <th class="result">RESULT</th>
        <th class="rank">RANK</th>
      </tr>
    </thead>
    <tbody>
      {% for service_name, value, rank in clinic.services %}
      <tr>
        <th>{{ service_name|upper|linebreaksbr }}</th>
        <td>{{ value }}</td>
        <td><span class="good-rank">{{ rank|ordinal }}</span> out of {{ total_clinics }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
