{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Homepage{% endblock title %}

{% block content %}
  <div class="container main-header">
    <div class="col-xs-12">
      <img class="top-space" src="{% static 'img/myvoice-home.jpg' %}">
    </div>
    <div class="col-xs-12 top-space">
      <div class="about-pilot-intro">
        <h1><span style="font-weight: 700;">The My Voice Pilot</span></h1>
        <div class="lead">
          My Voice is a patient feedback system piloted from July – September
        2014 for Wamba PBF health facilities in Nasarawa State, Nigeria.<br /><br />
        Developed with funding from the World Bank through the ICT4SA
        (ICT for Social Accountability) project, My Voice system facilitates 
        collection of patient feedback for health institutions.
        My Voice uses a texting system to understand patient satisfaction
        around health facility experiences to help local management and State 
        and National level implementers within Nigeria States Health Investment 
        Program to improve quality of health care service delivery.
        This dashboard presents patient feedback from 11 participating
        health care clinics in Wamba LGA.
       </div>
      </div>
    </div>
    <div class="col-xs-12 progress-to-date top-space">
      <div class="section-heading web-only">
        <h2>Progress to Date</h2>
      </div>
      <div class="content">
        <div class="participant-stats">Over <strong>100</strong> health staff have participated.</div>
        <div class="facilities-stats">From <strong>10</strong> primary health care facilities, and <strong>1</strong> general hospital in <strong>1</strong> LGA.</div>
        <div class="registration-stats">Who registered <strong>2000</strong> patients.</div>
        <div class="survey-stats">Of <strong>1400</strong> mobile owners, <strong>300</strong> submitted answers to surveys.</div>
        <div class="contact">
          <h5>Contact</h5>
          <div>
            If you have any questions or<br />
            comments about My Voice,<br />
            please contact Nonso Jideofor<br />
            at <span class="tel">+234 818 332 7178</span>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
{% endblock content %}
