{% load humanize %}
{% load pbf_tags %}
{% if clinic.progress %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">
      PERFORMANCE PROGRESS
      <small>Q4 2013 - October to December, 2013</small>
    </h2>
  </div>
  <div class="panel-body">
    <div class="panel-group">
      {% for title, rows in clinic.progress %}
        {% if rows %}
        <div class="panel panel-default" style="margin-bottom: 30px;" id="performance-progress-{{ forloop.counter }}">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ title }}
              <a class="pull-right" data-toggle="collapse" data-target="#performance-progress-{{ forloop.counter }} table">
                <span class="glyphicon glyphicon-white glyphicon-minus"></span>
              </a>
            </h4>
          </div>
          <table class="table collapse in">
            <thead>
              <tr>
                <th class="measurement"></th>
                <th class="result">RESULT</th>
                <th class="rank">RANK</th>
              </tr>
            </thead>
            <tbody>
              {% for metric_name, value, rank in rows %}
              <tr>
                <th>{{ metric_name|linebreaksbr }}</th>
                <td>{% ifnotequal value None %}{{ value }}{% else %}-{% endifnotequal %}</td>
                <td>
                  {% ifnotequal rank None %}
                    <span class="{% get_rank_class rank total_clinics %}">
                      {{ rank|ordinal }}
                    </span> out of {{ total_clinics }}
                  {% else %}
                    -
                  {% endifnotequal %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="panel-footer" style="text-align: center;">
    <a class="btn btn-dashboard" href="#">
      <span class="glyphicon glyphicon-white glyphicon-stats"></span>
      View Charts
    </a>
    <a class="btn btn-dashboard" href="#">
      <span class="glyphicon glyphicon-white glyphicon-download-alt"></span>
      Download Data
    </a>
    <a class="btn btn-dashboard" href="#">
      <span class="glyphicon glyphicon-white glyphicon-send"></span>
      Send Email
    </a>
    <a class="btn btn-dashboard" href="#">
      <span class="glyphicon glyphicon-white glyphicon-print"></span>
      Print
    </a>
  </div>
</div>
{% endif %}
