{% extends "comps/base.html" %}

{% load static from staticfiles %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <div class="container main-header">

      <div class="col-xs-7 no-padding-left">
        <h1><span style="font-weight: 700;">My Voice</span></h1>
        <div class="lead">My Voice is a lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </div>
      </div>

      <div class="col-xs-5 no-padding-right">
      <img class="top-space" src="{% static 'img/home-image.png' %}">
      </div>

    </div><!-- /.container -->

{% endblock content %}

{% block extra-js %}

{% endblock extra-js %}
