{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}NSHIP PBF Dashboard{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>NSHIP PBF DASHBOARD</h1>
    </div>
  </div>
</div>

<div class="row">

  {# Begin left column of dashboard. #}
  <div class="col-md-8">

    {# Begin basic info panel. #}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">WAYO MATTI PHC</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="pull-left">
            <img class="media-object" src="{% static 'img/wayo-matti.png' %}" alt="Wayo Matti PHC" />
          </div>
          <div class="media-body">
            <div>
              <h4>Location</h4>
              <p>Town, Ward, LGA</p>
            </div>
            <div>
              <h4>PBF Category</h4>
              <p>5</p>
            </div>
            <div>
              <h4>PBF Mobile Number</h4>
              <p>0814 223 5832</p>
            </div>
            <div>
              <h4>Hours Open</h4>
              <p>24 hours, 7 days</p>
            </div>
            <div>
              <h4>Last Renovated</h4>
              <p>2004</p>
            </div>
          </div>
        </div>
      </div>
    </div>{# End basic info panel. #}

    {# Begin quarter performance panel. #}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">QUARTER PERFORMANCE</h3>
      </div>
      <div class="panel-body">
        <div class="panel-group">
          {% for i in "1234" %}
          <div class="panel panel-info" style="margin-bottom: 30px;">
            <div class="panel-heading">
              <h4 class="panel-title">
                {% cycle "Performance Summary" "Patients" "Services" "Feedback" %}
              </h4>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>MEASUREMENT</th>
                  <th>RESULT</th>
                  <th>RANK</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>INCOME</td>
                  <td>722,652</td>
                  <td>4th out of 11</td>
                </tr>
                <tr>
                  <td>QUALITY SCORE</td>
                  <td>96.6%</td>
                  <td>1st out of 11</td>
                </tr>
                <tr>
                  <td>PATIENT SATISFACTION</td>
                  <td>87%</td>
                  <td>1st out of 11</td>
              </tbody>
            </table>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="panel-footer" style="text-align: center;">
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-eye-open"></span>
          View Charts
        </a>
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-download-alt"></span>
          Download Data
        </a>
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-send"></span>
          Send Email
        </a>
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-print"></span>
          Print
        </a>
      </div>
    </div>{# End quarter performance panel. #}

  </div>{# End left column of dashboard. #}

  {# Begin right column of dashboard. #}
  <div class="col-md-4">

    {# Begin in charge panel. #}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">IN CHARGE</h4>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="pull-left">
            <img class="media-object" src="{% static 'img/lydia.png' %}" alt="Mrs. Lydia Tanze" />
          </div>
          <div class="media-body">
            <h4 class="media-heading">Mrs. Lydia Tanze</h4>
            <div>
              <h4>Years at Clinic</h4>
              <p>5</p>
            </div>
            <div>
              <h4>Contact Number</h4>
              <p>0814 339 9384<br />0808 711 2929</p>
            </div>
          </div>
        </div>
      </div>
    </div>{# End in charge panel. #}

    {# Begin facility staff panel. #}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">FACILITY STAFF</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for i in "123456789" %}
          <li>FirstName LastName</li>
          {% endfor %}
        </ul>
        <table class="table">
          <thead>
            <tr>
              <th>Positions</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for i in "12345" %}
            <tr>
              <td>{% cycle "SCHEW" "JCHEW" "Lab Tech" "Attendants" "Security" %}</td>
              <td>{% cycle "4" "2" "1" "1" "1" %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div>
          <h4>LGA Rank</h4>
          <p><strong>6th</strong> of 11</p>
        </div>
        <div>
          <h4>PBF Rank</h4>
          <p><strong>35th</strong> of xx</p>
        </div>
      </div>
    </div>{# End facility staff panel. #}

    {# Begin feedback panel. #}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">FEEDBACK (587 Responses)</h3>
      </div>
      <div class="panel-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Trending Feedback</h3>
          </div>
          <div class="panel-body">
            <div>
              <h4>Comments</h4>
              <p>"Drugs and services were inexpensive. Outreach was great"</p>
            </div>
            <div>
              <h4>Complaints</h4>
              <p>"The staff was rude today. I was insulted when I arrived.</p>
            </div>
            <div>
              <h4>Avg. Wait Time</h4>
              <p>35 Minutes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer" style="text-align: center;">
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-eye-open"></span>
          View Charts
        </a>
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-download-alt"></span>
          Download Data
        </a>
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-send"></span>
          Send Email
        </a>
        <a class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-print"></span>
          Print
        </a>
      </div>
    </div>{# End feedback panel. #}
  </div>{# End right column of dashboard. #}

</div>
{% endblock content %}
