{% extends "base.html" %}

{% block title %}PBF{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>LGA Facilities</h1>
    </div>
    <p>Select one.</p>
    <form role="form" method="post" action="{% url 'pbf_dashboard_select' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="clinic">Clinic</label>
        <select class="form-control">
          <option>Arum Chugbu</option>
          <option>Gwagi</option>
          <option>Kwabe</option>
          <option>Kwarra</option>
          <option>Mararaba Gongon</option>
          <option>Nakere</option>
          <option>Wamba General Hospital</option>
          <option>Wayo Mati</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
